# Flutter/Dart
.dart_tool/
.buildlog/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-*
pubspec.lock

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/build/
android/build/

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Web 
web/

# dotenv 
.env*
